.row{
    display: flex;
    align-items: baseline;
}
.row h4{
    margin: 0;
    margin-right: 10px;
}
.row p{
    margin: 3px;
}
.card{
    margin-top: 10px;
}
.delete-btn{
    background-color: green;
    color: white;
    padding: 7px 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 15px;
    cursor: pointer;
}